body {
    background: linear-gradient(white, skyblue);
    background-size: 100%;
    margin: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    object-fit: cover;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
}
h1 {
    color: black;
    font-size: 35px;
    margin: 0 auto ;
    
}
#something {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#Header {
    margin: 0 auto;
    margin-top: auto;
}
#portfolio {
    margin: 0 auto;
    margin-bottom: auto;
    position: relative;
    text-align: center;
    border-radius: 10%;
    border: black 2px solid;
    padding: 5px;
    text-decoration: none;
    background-color: white;
    color: blue;
}
html {
    scroll-behavior: smooth;
}
h2 {
    text-align: center;
    width: 50vw;
    margin: 0 auto;
    position: relative;
    top: 20px
}
nav {
    background-color: lightgray;
    position: fixed;
    top: 0px;
    display: flex;
    width: 100vw;
    height: 40px;
    z-index: 1; 
}
nav > ul {
    margin-left: auto;
}
#home {
    position: absolute;
    left: 12px;
    font-size: 20px;
}
ul {
    margin: 0;
    padding: 0;
    display: flex;
}
li {
    padding: 10px;
    list-style: none;
    margin: auto 0;
}
#strengths {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: 5px;
    width: 15vw;   
}
main {
    display: flex;
    align-items: center;
    width: 100%;
}
#weakness {
    display: block;
    margin: 0; 
    margin-right: auto;
    margin-left: 5px;
    width: 15vw;   
}
#strengths li {
    padding: 0;
}
#weakness li {
    padding: 0;
    width: 30vw;
}
h3 {
    font-weight: 1;
}
h4 {
    font-size: 25px;
}
#bio {
    text-align: center;
    font-weight: 1;
}
#Biography {
    text-align: center;
    top: 20px;
    position: relative;
}
img {
    position: relative;
    width: 500px;
}
#cca {
    position: relative;
    font-size: 20px;
    width: 30vw;
    text-align: center;
}
#photo {
    display: flex;
    position: relative;
    top: 10px;
    margin: 0 auto;
    width: max-content;
}
#potrait {
    display: flex;
    margin: 0 auto;
    width: max-content;
}
#clc {
    position: relative;
    margin-left: 10px;
}
#ptags {
    display: flex;
    margin: 0 auto;
    width: max-content
    
}
#clcw {
    position: relative;
    font-size: 20px;
    width: 30vw;
    text-align: center;
}  
img {
    width: 30vw;   
    
}
a {
    color: black;
    text-decoration: none;
    margin: auto 0;
}
a:hover {
    text-decoration: underline;
}
#ccare {
    display: flex;
    position: relative;
    margin: 0 auto;
    width: max-content;
    top: 30px;
}
#ccare2 {
    display: flex;
    margin: 0 auto;
    position: relative;
    width: max-content;
    top: 20px;
}
#ccaw {
    position: relative;
    margin: 0 auto;
    width: max-content;
    top: 30px;
}
#leadershipex {
    position: relative;
    margin: 0 auto;
    top: 50px;
}
#bars {
    margin-top: 50px;
    flex-direction: column;
    margin-left: 40vw;
    width: max-content;
}
#skillsb {
    overflow: hidden;
    width: 100vw;
}
progress[value] {
    -webkit-appearance: none;
    margin-top: 5px;
}
::-webkit-progress-bar{
    background-color: black;
    border-radius: 20px;
}
::-webkit-progress-value {
    background-color: greenyellow;
    border-radius: 20px;
}
.flex {
    position: flex;
    margin-right: 25vw;
    margin-left: auto;
}
.icons {
    width: 80px;
}
.left {
    margin-right: 10px;
    width: 100px;  
}
.right {
    margin-left: 10px;
}
#icons {
    margin-left: 0;
}
@media (orientation: portrait) {
    #bars {
        margin: 0 auto;
        margin-top: 55px;
    }
    .flex {
        margin-right: 20px;
        margin-left: auto;
    }
    #Biography {
        font-size: 15px ;
    }
    #bio {
        font-size: 12px;
    }
    #weakness {
        width: min-content; 
    }
    #strengths {
        margin-bottom: auto;
    }
    #cca, #clcw, #ccaw {
        font-size: 10px;
        margin-bottom: 0;
    }
    #skill {
        font-size: 12px;   
    }
    h4 {
        font-size: 15px;
    }
    h3 {
        font-size: 15px;
    }
    #weakness, #strengths {
        margin-top: 10px;
    }
    nav {
        font-size: 12px;
        margin: auto 0;
    }
    #home {
        font-size: medium;
        font-weight: 600;
        text-decoration: underline;
        padding-left: 0;   
    }
    .moveright {
        padding: 10px;
    }
}
@media (orientation: landscape) and (max-width: 1000px) {
    #bars {
        position: relative;
        right: 60px;
    }
}
